body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  background: violet;
  height: 70px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav button {
  cursor: pointer;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 39px;
  width: 75px;
  margin-right: 15px;
  margin-top: 7px;
}

.album-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}

.album-container {
  border: 1px solid black;
  background-color: cyan;
  width: 270px;
  height: 88px;
}

.footer button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 9px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 39px;
  width: 75px;
  margin-right: 15px;
  margin-top: 7px;
}

#delete {
  margin-top: 0px;
}

#update {
  margin-top: 0px;
}
